
<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    {% seo %}
  </head>
  
	<body class="is-preload">
    {% include navigation.html %}
    {% include header.html %}
    <!-- Main -->
    <div id="main">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
  {% include scripts.html %}
</html>