---
layout: default
---
<!-- Main -->
<div id="main">
    <!-- Post -->
    <article class="post">
        {% include future/template/page-header.html %}
        <span class="image featured">
            <img src="{{ page.image | relative_url }}" alt="{{ page.title }}" />
        </span>
        {{ content }}

        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <!-- SquareAd -->
        <ins class="adsbygoogle"
            style="display:block"
            data-ad-client="ca-pub-1202813824807024"
            data-ad-slot="3447176874"
            data-ad-format="auto"
            data-full-width-responsive="true"></ins>
        <script>
            (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
        
    </article>

    <div class="disqus-comments">
        {% include util/disqus.html %}
    </div>  
</div>

{% include future/sidebar-elements/footer.html %}